html {
  background-color: black;
  color: darkgreen;
  font-family: Arial Black, sans-serif;
  font-size: 1.2em;
}


html {
  background-image: url("../sorteio-fundo.png");
}
img{
  max-width: 400px;
}

main {
  text-align: center;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
  margin: auto;
  max-width: 600px;
}

section:nth-child(1) {
  grid-row: 1;
  grid-column-end: span 2;
}

section:nth-child(2), section:nth-child(3) {
  grid-row: 2;
}

section:nth-child(4) {
  grid-row: 3;
  grid-column-end: span 2;
}

h1, button {
  font-size: 1.2em;
  margin: 0.5em;
  font-weight: normal;
}

textarea {
  border: 1px solid lightgray;
  background-color: rgba(255, 255, 255, 0.7);
  color: darkgreen;
  padding: 0.1em;
  width: 100%;
  font-family: Arial Black, sans-serif;
}

ol {
  padding: 0;
  margin: 1em 0;
}

li {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  margin-bottom: 0.3em;
  background-color: rgba(255, 255, 255, 0.7);
}
li:nth-child(even){
  background-color: rgba(190, 255, 190, 0.7);
}

li div {
  color: darkgreen;
  padding: 0.5em;
  text-align: left;
}
li div:last-child {
  font-weight: normal;
  font-family: Arial, sans-serif;
  padding-left: 2em;
}
